body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #000;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

#page1::before { background-image: url('images/images11.jpg'); }
#page1 h1 { content: "Welcome to Arwa’s World"; }
#page1 p:nth-child(2) { content: "A journey of creativity, passion, and achievements."; }
#page1 p:nth-child(3) { content: "This website is created to showcase Arwa's achievements and journey in the world of programming and game development. Made with love."; }

#page2::before { background-image: url('images/picto.jpg'); }
#page2 h1 { content: "She’s always searching for opportunities and loves to stay busy."; }
#page2 p { content: "Passionate about game development, she decided to dive into the world of gaming and found the perfect one."; }

#page3::before { background-image: url('images/apple.jpg'); }
#page3 h1 { content: "Got in Apple Academy"; }

#page4::before { background-image: url('images/rahool.jpg'); }
#page4 h1 { content: "RAHOOL"; }
#page4 p { content: "She created an app called 'Rahool' to teach programming in a simple and accessible way making learning easy and fun for everyone."; }

# ▋
